@import "/src/scss/variables.scss";
/* BUTTONS */
.btn {
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  background: $purple-clr;
  font-weight: 600;
  line-height: 1em;
  color: $white-clr;
  font-size: 18px;
  min-width: 140px;
  padding: 22px 20px;
  border: 2px solid $purple-clr;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.btn.color2 {
  color: $purple-clr;
  background: transparent;
  border: 2px solid $purple-clr;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn.disabled-btn {
  pointer-events: none;
  cursor: inherit;
  background: #ccc;
}
.btn-wrapp {
  font-size: 0;
}
/*media*/
@media (min-width: 1200px) {
  .btn:hover,
  .btn.type2:hover {
    background: #c3010e00;
    color: $purple-clr;
    border-color: $purple-clr;
  }
  .btn.color2:hover {
    color: $white-clr;
    background: $purple-clr;
    border-color: $purple-clr;
  }
}
@media (max-width: 1199px) {
  .btn {
    padding: 18px 28px 18px;
  }
}
@media (max-width: 767px) {
  .btn {
    padding: 14px 20px 14px;
  }
}
@media (max-width: 575px) {
  .btn-wrapp > * {
    margin-bottom: 15px;
  }
  .btn-wrapp > *:last-child {
    margin-bottom: 0;
  }
}
