$black-clr: #000000;
$black-blue-clr:rgb(22, 27, 37);
$white-clr:rgb(255, 255, 255);
$grey-clr: #F3F3F3;
$grey-clr-2: #F5F6F7;
$purple-clr:  #8F257F;
$blue-hover : #7E8CD9;
$orange-link:  #ff8562;
$background-light-purple:rgba(143, 37, 125, 0.1);
$background-light-yellow:rgb(209 185 14 / 18%);
$back-ground-img: linear-gradient(to left, rgb(255, 217, 81) 0px, rgb(0, 163, 207) 100%);
$back-ground-img-yp: linear-gradient(45deg, #F9AC07, #a977ff);
$back-ground-img-bo: linear-gradient(45deg, #52dbfa, #ea7d00);
$back-ground-img-pb: linear-gradient(45deg, #f907c5, #8acdff);
